.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.photo-7 {
  background-image: url("../images/Kim.png"); }

.photo-8 {
  background-image: url("../images/Rico.png");
  background-position: 40% 20%; }

.photo-9 {
  background-image: url("../images/Uku.png");
  background-position: 30% 10%; }
  
.logo-1 {
	background-image: url("../images/logo1.png");
}

.logo-2 {
	background-image: url("../images/logo2.png");
}

.logo-3 {
	background-image: url("../images/logo3.png");
}

.logo-4 {
	background-image: url("../images/logo4.png");
}

.about-pic1 {
	background-image: url("../images/about1.png");
}

.about-pic2 {
	background-image: url("../images/about2.png");
}
.about-pic3 {
	background-image: url("../images/about3.png");
}
.about-pic4 {
	background-image: url("../images/about4.png");
}
.about-pic5 {
	background-image: url("../images/about5.png");
}